
.Card {
    margin: auto;
    width: 90%;
    height: 20rem;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    transition: 0.5s;
}

.Card:hover {
    border: 1px solid #999;
}

.viewport {
    width: 100%;
    height: 8rem;
    overflow-y: hidden;
}

.image {
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .Card {
        width: 15rem;
    }
}