.CardList {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 60em) {
    .CardList {
        width: 58rem;
    }
}

@media screen and (min-width: 80em) {
    .CardList {
        width: 78rem;
    }
}
